<mat-tab-group dynamicHeight mat-align-tabs="center" mat-stretch-tabs headerPosition="below">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>more_horiz</mat-icon>
    </ng-template>
    <div class="cmpprincipal mat-elevation-z4">
      Nova Coleção
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>more_horiz</mat-icon>
    </ng-template>
    <div class="cmpprincipal mat-elevation-z4">
      promoções
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>more_horiz</mat-icon>
    </ng-template>
    <div class="cmpprincipal mat-elevation-z4">
      off
    </div>
  </mat-tab>
</mat-tab-group>
