<section>
  <table>
    <tr>
      <th>INSTITUCIONAL</th>
      <th>ATENDIMENTO</th>
      <th>CENTRAL DE AJUDA</th>
    </tr>
    <tr>
      <td><a routerLink="">Trocas e Devoluções</a></td>
      <td>Atendimento de Segunda a Sexta-feira, das 9h às 16h</td>
      <td>camicamisetas@gmail.com</td>
    </tr>
    <tr>
      <td><a routerLink="">Quem Somos</a></td>
      <td></td>
      <td>Curitiba/PR - (41) 3670-0090</td>
    </tr>
    <tr>
      <td><a routerLink="">Politicas e Privacidades</a></td>
      <td></td>
      <td>
        <img src="/assets/imglogo/icons8-youtube-48.png">
        <img src="/assets/imglogo/icons8-instagram-48.png">
        <img src="/assets/imglogo/icons8-facebook-48.png">
        <img src="/assets/imglogo/icons8-twitter-48.png">
        <img src="/assets/imglogo/icons8-whatsapp-48.png">
      </td>
    </tr>
    <tr>
      <td><a routerLink="">Contatos</a></td>
      <td></td>
    </tr>
    <tr>
      <td><a routerLink="">Trabalhe Conosco</a></td>
    </tr>
  </table>
</section>
