
<form>
  <mat-card>
    <h1>Novo Usuario</h1>
    <mat-card-content class="areapri">
      <mat-form-field class="cmpnome" appearance="outline">
        <mat-label>nome completo</mat-label>
        <input matInput type="text" name="nome" [(ngModel)]="usuario.nome">
        <mat-icon matSuffix>control_point</mat-icon>
      </mat-form-field>

      <mat-form-field class="cmptel"appearance="outline">
        <mat-label>telefone</mat-label>
        <input matInput type="tel" name="telefone" [(ngModel)]="usuario.fone">
        <mat-icon matSuffix>format_align_justify</mat-icon>
      </mat-form-field>
    </mat-card-content>

    <mat-card-content class="areasec">
      <mat-form-field class="cmpsec" appearance="outline">
        <mat-label>e-mail</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="usuario.email">
        <mat-icon matSuffix>invert_colors</mat-icon>
      </mat-form-field>

      <mat-form-field class="cmpsec" appearance="outline">
        <mat-label>login</mat-label>
        <input matInput type="text" name="login" [(ngModel)]="usuario.login">
        <mat-icon matSuffix>invert_colors</mat-icon>
      </mat-form-field>

      <mat-form-field class="cmpsec" appearance="outline">
        <mat-label>senha</mat-label>
        <input matInput type="password" name="password" [(ngModel)]="usuario.senha">
        <mat-icon matSuffix>invert_colors</mat-icon>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions class="cmpaction">
      <button mat-raised-button color="primary" (click)="criarUser()" color="primary">Salvar</button>
      <button mat-raised-button (click)="voltar()">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>
